* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100vw;
    height: 100px;
    border: 2px solid #dddddd;
    text-align: center;
}

.admin-content {
    padding-top: 50px;
    display: flex;
}

.admin-content-left {
    background-color: #dddddd;
    width: 20%;
    height: 100vw;
}

.admin-content-left>ul>li>a {
    font-weight: bold;
}

.admin-content-left ul li {
    margin: 6px 0;
}

.admin-content-left ul ul {
    margin-left: 20px;
}

.admin-content-right {
    width: 80%;
    padding: 10px 0 0 12px;
}

.admin-content-right-produc_cate-add input {
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 20px;
    border: 2px solid;
}

.admin-content-right-produc_cate-add input:focus,
.admin-content-right-produc_cate-add input:hover {
    border: 2px solid brown;    
}

.admin-content-right-produc_cate-add button {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.admin-content-right-produc_cate-add button:hover {
    background-color: transparent;
    border: 2px solid brown;
    color: brown;
    border-radius: 10px;
}
.admin-content-right-produc_cate-list table{
    max-width: 500px;
    width: 80%;
    margin: 10px 5px;   
    border: 2px solid;
    border-collapse: collapse;
}
.admin-content-right-produc_cate-list th,
.admin-content-right-produc_cate-list td{
    border: 2px solid;
    padding: 5px;
}